@charset "utf-8";

@import '../../_variables';
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin family {
    font-family: 'Source Sans Pro', "Arial Narrow", Arial, Helvetica, sans-serif;
}

.p_sw {

    padding: 16px 0;

    .p_sw__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 24px;

        .p_sw__left {

            h2, h1 {
                font-family: "Philosopher", "Arial Narrow", Arial, Helvetica, sans-serif;
                font-weight: 700;
                font-size: 48px;
                line-height: 1.2em;

            }

        }

        .p_sw__rihgt {
            display: flex;
            justify-content: flex-end;
            position: relative;

        }
    }

    .swiper_populars {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden !important;
        height: 453px !important;
    }
}

.slick_slider__popularscarusel {
    .slick-slide {
        margin-right: 30px;
    }
}

    //252
.popular_item {

    border-radius: 12px;
 //   box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
  //  border: 3px solid rgba(224, 224, 224, 0.4);
    width: 100%;
    position: relative;
    height: 453px;

    // .popular_item__top
    &__top {
        border-radius: 12px 12px 0 0;
        overflow: hidden;

        img.popular_item__img {
        }

        .div_sale_absol {

            width: 38px;
            height: 43px;
            background-position: top center;
            background-repeat: no-repeat;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAArCAYAAAAUo/pwAAAACXBIWXMAAA7EAAAOxAGVKw4bAAABlklEQVRYw+3YP0vDQBzG8W9FwSiUotAxSzsWLA6CigfF2UG4js5OGRzFJa/BbIL4BgoO7lJvcCydu3ljB4cuQajGwSYkMYr9Izr8Hgjtcdz1k+fSJaUwcCP+YZb4pxGYwAQmMIEJTGACE5jABCYwgQlMYAITmMA+5wJYAdaB00VsuDzn+kfgyPHs82Q8Bq7CwO0CN8DeXzTWfn0pHaRQSRzPDohozdNeaYZXnfmWMlFKMRqN6Pf7AISBuwHcTdvetI21o/FHS81mMzOhtUYpBUC5XE6397wVrO4Dh78B6wCbjmc7a2dPb0qppJF0qtUqxhiMMQkSYDAY4Hj2fvIHeVwEzAItx7Pt+OiUUhhjMk0l+k4HrTW+72OMSeZipOPZ8e71xo/a+w52CdQcz3bTd59GxRiARqORjH3fz4DTa+r1+o/aK3r4LXB88rDTixuIf3zWfLdHGLjbwC3g5htrFbTUGw6HmQbSiaIo8z2+8nP5VvNHOzneHlADzlNLjmN1JQzcSv6ZiUH5zyJA0bgI+dV+WuuM4x1DSrU7EtqrmgAAAABJRU5ErkJggg==');

            position: absolute;
            top: 0;
            left: 16px;
            color: #ffffff;
            overflow: hidden;
            font-size: 13px;
            display: flex;
            justify-content: center;
            padding: 10px 0 0 0;
            z-index: 10;

        }

        // .popular_item__img
        &__img {
        }
    }

    // .popular_item__bottom
    &__bottom {
        padding: 16px 16px 24px 16px;
        border-radius:12px;
        overflow: hidden;
        background: #fff;
        color: $colorGrey;
        transition: top 0.3s ease-out 0.1s;
        top: 0;
        position: relative;

        // .popular_item__avia
        .popular_item__avia {
            display: flex;
            position: relative;
            padding: 0 0 5px 0;

            span.p_star {
                color: $colorOrange;
                position: relative;
                margin: 0 5px 0 0;
                font-size: 18px;
                top: -4px;

            }

            span.p_starcount {
                position: relative;
                font-size: 14px;
            }
        }

        // .popular_item__title
        .popular_item__title {
            font-size: 18px;
            color: $color;
            padding: 0 0 8px 0;
            height: 32px;
            width: 214px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 214px;
        }

        .popular_item__sity {
            font-size: 14px;
            padding: 6px 0 0 0;
        }

        .popular_item__price {
            font-size: 18px;
            padding: 1px 0 18px 0;
            font-weight: 600;
            color: $color;

        }

        .popular_item__odred {
    display: none;
        }

    }
    &__bottom:hover {
        background: #f7f7f7;
        top: -100px;

        .popular_item__odred {
            display: block;
        }
    }
}

