@charset "utf-8";

@import '../../_variables';
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin family {
    font-family: 'Source Sans Pro', "Arial Narrow", Arial, Helvetica, sans-serif;
}

.hbox.temp_img_cat {

    .hrow {
        display: flex;
        flex-wrap: wrap;

        .hcol {
            width: 50%;
            height: auto;

        }
    }
}

.pc_category2 {

    position: relative;
    width: 100%;

    a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        transition: 0.3s;
    }

    h1, h2, h3, h4 {
        position: relative;
        z-index: 10;
        padding: 10px 0;
        font-size: 26px;
        font-family: "Philosopher", "Arial Narrow", Arial, Helvetica, sans-serif;
        font-weight: 700;
        transition: 0.3s;
    }

    .pc_category_img {
        border-radius: 16px;
    }

    .pc_category2__desc {
        padding: 0 20px 33px 6px;

        h2 {
            padding-top: 16px
        }
    }

}

.countries .hrow {
    padding-top: 0;
}

